<h1>Portfolio items</h1>

<% @portfolios.each do |portfolio| %>
  <p><%= portfolio.title %></p>
  <p><%= portfolio.subtitle %></p>
  <%= image_tag portfolio.thumbnile_image if !portfolio.thumbnile_image.nil? %>
  <p><%= portfolio.body %></p>
<% end %>
